/*------ Layout-------*/
html{
	background-color:#000;
	}
body{
	 margin: auto;
	 color:#272624;
 	}
body li,body address,body table, body h2{
	color:#FFF;
	}
header h1{
	margin:0;
	}
header h1 a{
	text-decoration:none;
	}
header nav ul{
	padding:0;
	margin:0;
	}
header nav li{
	list-style:none;
	margin:10px 5px 5px 5px;
	float:left;
	padding-right:8px;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color:#FFF;
	}
header input{
	display:block;
	width:262px;
	margin:-4px 0 0 -12px;
	}
header nav li:last-child{
	border-right-width:0;
	}
.refrence{
	border-right-width:0;
	}
header nav input{
	float:right;
	}
.signup{
	padding:5px;
	font-size:.9em;
	display:block;
	background-color:#952222;
	float:right;
	margin-right:14px;
	}
#cta h2 a{
	margin-top:4px;
	}
nav a, h2 a{
	text-decoration:none;
	}
/* logo */
header h1 a #winterpark{
	font-size:14px;
	}
/* color for ampersand*/
#ampersand{
	color:#e92121;
	}
#escapeHatch{
	margin-bottom:2px;
	font-size:31px;
 	}
#escapeHatch a,h2 a{
	color:#fff;
	}
/* logo end */
/* Nav begin*/
header nav{
	font-size:14px;
	}
header nav a{
	color:#E92121;
	}
.signup{
	color:#fff;
	}
footer{
	clear:both;
	}
footer nav{
	text-align:center;
	width:100%;
	}
footer nav a{
	color:#E92121;
	}
nav .current{
	text-decoration:underline;
	}
/*nav end*/
/*cta*/
#cta{
	background-image:url(../media/cta-improved.png);
	background-repeat:no-repeat;
	height:424px;
	}
#ctainfo{
		margin-top:53px;
	}
#ctainfo li{
	list-style:url(../media/die_for_dots.png);
	position:relative;
	}
.locationfinder{
	text-align:center;
	color:#FFF;
	display:block;
	background-color:#952222;
	float:right;
	margin-right:83px;
	}
/* cta end */
/*begin articles */
#hosting,#stores,#locations{
	height:398px;
	background-color:#272624;
	}
article h2{
	color:#fff;
	}
article h2{
	text-align:center;
	}
.search{
	margin-left:-4;
	}

#locations{
		background-image:url(../media/article1background.png);
		background-repeat:no-repeat;
		background-position: 100px;
		text-align:right;
		list-style:none;
		padding-left:0;
	}
#locations table{
	margin:0 10px;
	}
#stores ul{
		background-image:url(../media/treasurechest.png);
		background-repeat:no-repeat;
		background-position: 48px;
		padding:0;
	}
#stores li{
			margin-left:82px;
			margin-top:24px;		
	}
#stores p,#hosting p{
	color:#fff;
	}
#hosting{
		background-image:url(../media/addverstshosting.png);
		background-repeat:no-repeat;
		background-position: 1px;
		}
#locations ul{
		padding:0;
	}
.articlebutton{
	text-align:center;
	background-color:#bd2b2b;
	color:#fff;
	clear:both;
	vertical-align:bottom;
	}
/*------Typography----*/
/*------navigation----*/
/*--------misc--------*/
/* location page */
div .localaddress{
	display:none;
	}
/*schedule page */
.scheduledates{
	display:none;
	}