/*------ Layout-------*/
 /*body{
	 width:62.5%;
	 background-color:red;
	 margin: auto;
 	}
 header{
	 overflow:hidden;
	}
 h1{
	 margin-top:0;
	 margin-bottom:2px;
	 width:20%;
	 font-size::1em;
	 overflow:hidden;
 	}
 nav{
	 margin-top:-3.5%;
	 background-color:green;
	 width:60%;
	 float:right;
	}
 nav li{
	 list-style:none;
	 float:left;
 	}
 footer nav{
	 	background-color:green;
	 	width:100%;
		clear:both;
	}
.cta*/
/*------Typography----*/
/*------navigation----*/
/*--------misc--------*/